* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding:10px;
    background-color: #FAF7F0;
    height: 100px;
}

/* Logo */
.navbar-logo h1 {
    font-family: 'Georgia', serif; 
    font-size: 28px;
    font-weight: normal;
    color:var(--secondary-color); 
    margin-right: 40em;
    margin-left: 2em;
}

/* Navbar links */
.navbar-links {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-right: 2em;
}

.navbar-links a {
    text-decoration: none;
    font-family: 'Georgia', serif; 
    color:var(--primary-color);
    margin: 0 20px;
    font-size: 18px;
}

.navbar-links a:hover {
    color: #b38b59; /* Gold hover effect */
}

/* Contact Button */
.navbar-contact .contact-button {
    background-color: #523C1E; 
    color: #FAF7F0;
    padding: 10px 20px;
    border-radius: 0;
    text-decoration: none;
    font-family: 'Georgia', serif;
    font-size: 18px;
}

.navbar-contact .contact-button:hover {
    background-color: #333d29; 
    color: #fff;
}
