@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
:root{
  --primary-color: '#382914';
  --secondary-color: '#523C1E';
  --primary-font : "Old Standard TT", serif;
  --secondary-font : "Heebo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-family: var(--primary-font);
  background-color: #FAF7F0;
}
